.inputContainer {
    /* margin: 30px 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Input {
    width: 30%;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .Submit {
    background-color: teal;
    border: none;
    color: white;
    padding: 10px 0;
    font-size: 18px;
    width: 30%;
    margin-top: 30px;
    /* background: rgb(255,151,0); */
    border: none;
    z-index: 1;
    border-radius: 8%;
    width: 130px;
    height: 40px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
  .Submit:hover {
    color: #000;
    content: "";
    width: 20%;
    border-radius: 5px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  
  .offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
  }
  .offset:hover, .offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
  }
  .offset {
    --color: #19bc8b;
    --hover: #1973bc;
  }
  
  
  button {
    color: var(--color);
    transition: 0.25s;
  }
  button:hover, button:focus {
    border-color: var(--hover);
    color: #fff;
  }
  
  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
  }
  
  .hrcontainer{
    width:100%;
    justify-content:center;
    display:flex;
  }
  .hr {
    align-self:center;
    height: 3px;
    /* display: block; */
    position: relative;
    margin-bottom: 0em;
    padding: 2em 0;
    border: none;
    width:40%
  }
  .hr:after, .hr:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    /* bottom: 50%; */
    /* left: 0; */
  }
  .hr:before {
    background: linear-gradient(90deg, #10111F 0%, #10111F 50%, transparent 50%, transparent 100%);
    background-size: 5px;
    background-position: center;
    z-index: 1;
  }
  .hr:after {
    transition: opacity 0.3s ease, -webkit-animation 0.3s ease;
    transition: opacity 0.3s ease, animation 0.3s ease;
    transition: opacity 0.3s ease, animation 0.3s ease, -webkit-animation 0.3s ease;
    background: linear-gradient(to right, #62efab 5%, #F2EA7D 15%, #F2EA7D 25%, #FF8797 35%, #FF8797 45%, #e1a4f4 55%, #e1a4f4 65%, #82fff4 75%, #82fff4 85%, #62efab 95%);
    background-size: 200%;
    background-position: 0%;
    -webkit-animation: bar 15s linear infinite;
            animation: bar 15s linear infinite;
  }
  @-webkit-keyframes bar {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
  @keyframes bar {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
  
  .hr.anim:before {
    background: linear-gradient(90deg, #10111F 0%, #10111F 5%, transparent 5%, transparent 10%, #10111F 10%, #10111F 15%, transparent 15%, transparent 20%, #10111F 20%, #10111F 25%, transparent 25%, transparent 30%, #10111F 30%, #10111F 35%, transparent 35%, transparent 40%, #10111F 40%, #10111F 45%, transparent 45%, transparent 50%, #10111F 50%, #10111F 55%, transparent 55%, transparent 60%, #10111F 60%, #10111F 65%, transparent 65%, transparent 70%, #10111F 70%, #10111F 75%, transparent 75%, transparent 80%, #10111F 80%, #10111F 85%, transparent 85%, transparent 90%, #10111F 90%, #10111F 95%, transparent 95%, transparent 100%);
    background-size: 50px;
    background-position: center;
    z-index: 1;
    -webkit-animation: bar 120s linear infinite;
            animation: bar 120s linear infinite;
  }
  .hr.anim:hover:before {
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
  }
  .hr.anim:hover:after {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  
  .sexyText{
    font-family: 'Lato', sans-serif;
    font-size:30px;
    color:white;
    margin-bottom:20px
  }
  
  .messageclass{
    background-color:#ffe5e5;
    margin:10px;
    font-family: 'Lato', sans-serif;
    font-size:25px;
    padding:15px;
    color:red;
    border-radius:20px
  
  }